@mixin alert($size,$weight,$top:0px,$theme:white){
    border: none;
    margin-top: $top;
    color: white;
    border-radius:10%;
    padding:5px 10px;
    background-color: rgb(143, 12, 12);
}

    

     color: white;
     
     margin-left: 20px;
     display: none;